input {
    keyboard {
        xkb {}
        numlock
    }
    touchpad {
	tap
    }
    mouse {}
    trackpoint {
    	natural-scroll
    }
}

gestures {
	hot-corners {
		off
	}
}

recent-windows {
	highlight {
		active-color "#59A590"
		urgent-color "#ff9999ff"
		padding 5
		corner-radius 2.5
	}
}

output "HDMI-A-1" {
	mode "3840x2160@120"
}

output "HDMI-A-2" {
	mode "3840x2160@120"
}

layout {
    gaps 5
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    focus-ring {
        width 2.5
        active-color "#59A590"
        inactive-color "#505050"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
}

spawn-at-startup "swaybg" "-i" "/home/venki/pictures/wallpapers/john-towner-JgOeRuGD_Y4-unsplash.jpg" "-m" "fill" "-c" "#0d0d12"
spawn-at-startup "/home/venki/.local/bin/saturn"
spawn-at-startup "/home/venki/.local/bin/saturn-notify"
spawn-at-startup "systembus-notify"

switch-events {
    lid-close { spawn "sh" "-c" "pgrep -f '[q]uickshell -p .*lock_shell.qml' || ~/.local/share/quickshell-lockscreen/lock.sh"; }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/-%Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 1.25
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
}

binds {
    Mod+Space		repeat=false { spawn "/home/venki/.local/bin/saturn"; }
    Mod+Return		repeat=false { spawn "ghostty"; }
    Mod+E		repeat=false { spawn "nautilus"; }
    Ctrl+Q		repeat=false { close-window; }
    Mod+Ctrl+Left	{ move-column-left; }
    Mod+Ctrl+Right	{ move-column-right; }
    Mod+Ctrl+Down	{ move-column-to-workspace-down; }
    Mod+Ctrl+Up		{ move-column-to-workspace-up; }
    Mod+L               { spawn-sh "~/.local/share/quickshell-lockscreen/lock.sh"; }
    Mod+O repeat=false  { toggle-overview; }
    Mod+Left            { focus-column-left; }
    Mod+Right           { focus-column-right; }
    Mod+Down            { focus-workspace-down; }
    Mod+Up              { focus-workspace-up; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop         allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Mod+P { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Ctrl+Alt+Delete { quit; }
}

